figure {
  margin: 0px;
  padding: 0px;
}
.stoplight-frame {
  margin: 20px;
  width: 100px;
  height: 280px;
  background-color: black;
  position: relative;
}
.stoplight-light {
width: 60px;
height: 60px;
border-radius: 30px;
border: 1px black solid;
position: absolute;
left: 20px;
}
.stoplight-light.red {
  background-color: red;
  top: 30px;
}
.stoplight-light.yellow {
  background-color: yellow;
  top: 110px;
}
.stoplight-light.green {
 background-color: green;
  top: 190px; 
  border: 1px rgba(0, 0, 0, 0) solid;
  box-shadow: 0 0 25px 0 green;
}