figure {
  margin: 0px;
  padding: 0px;
}
.stoplight-frame {
  margin: 20px;
  width: 120px;
  height: 300px;
  color: black;
  position: relative;
}
.stoplight-light {
width: 60px;
height: 60px;
border-radius: 30px;
border: 1px black solid;
position: absolute;
left: 20px;
}
.stoplight-light.red {
  background-color: red;
  top: 30px;
}
.stoplight-light.yellow {
  background-color: yellow;
  top: 130px;
}
.stoplight-light.green {
 background-color: green;
  top: 190px; 
}