figure {
  margin: 0px;
  padding: 0px;
}
.stoplight-post {
width: 25px;
height: 35px:
background-color: black;
margin: auto;
}
.stoplight-frame {
  width: 100px;
  height: 280px;
  background-color: black;
  position: relative;
  margin: auto;
}
.stoplight-light {
width: 60px;
height: 60px;
border-radius: 30px;
border: 1px black solid;
position: absolute;
left: 20px;
}
.stoplight-light.red {
  background-color: red;
  top: 30px;
}
.stoplight-light.yellow {
  background-color: yellow;
  top: 110px;
}
.stoplight-light.green {
 background-color: green;
  top: 190px;
}
.green:hover {
  box-shadow: 0 0 20px 20px green;
border: 1px rgba(0, 0, 0, 0) solid;
}